<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="capabilities">
      <section name="parallel" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>

    <sectionGroup name="environments">
      <section name="chrome" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <!--<section name="firefox" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
      <section name="safari" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <!--<section name="ie" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
      <section name="edge" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="user" value="saifafzal2" />
    <add key="key" value="s3rbeAXDiXhSnHDXAkfs" />
    <add key="server" value="hub-cloud.browserstack.com" />
    <add key="MeridianTestEnvironment" value="http://prdct-mg-20-2.mksi-lms.net/" />
  </appSettings>

  <capabilities>
    <parallel>
      <add key="browserstack.debug" value="true" />
    </parallel>
  </capabilities>

  <environments>
    <chrome>
      <add key="browser" value="chrome" />
      <!--<add key="browser_version" value="73.0" />
      <add key="os" value="Windows" />
      <add key="os_version" value="10" />
      <add key="browserstack.local" value="true" />
      <add key="browserstack.selenium_version" value="3.14.0" />-->
      
    </chrome>
    <!--<firefox>
      <add key="browser" value="firefox" />
     
      <add key="os" value="Windows" />
      <add key="os_version" value="10" />

      <add key="browser_version" value="76.0" />
      <add key="browserstack.local" value="true" />
      <add key="browserstack.selenium_version" value="3.14.0" />
      <add key="browserstack.firefox.driver" value="0.25.0" />
    </firefox>-->
    <safari>
      <add key="browser" value="safari" />
      <!--<add key="os" value="OS X" />
      <add key="os_version" value="High Sierra" />
   
      <add key="browser_version" value="11.0" />
      <add key="browserstack.local" value="true" />
      <add key="browserstack.selenium_version" value="3.14.0" />
      <add key="browserstack.safari.enablePopups" value="true" />
      <add key="browserstack.safari.allowAllCookies" value="true" />-->
    </safari>
    <!--<ie>
      <add key="browser" value="ie" />
      <add key="os" value="Windows" />
      <add key="os_version" value="10" />
      <add key="browser_version" value="11.0" />
      <add key="browserstack.selenium_version" value="3.14.0" />
      <add key="browserstack.ie.driver" value="3.14.0" />
      <add key="browserstack.selenium_version" value="3.14.0" />
      <add key="browserstack.ie.enablePopups" value="true" />
      <add key="browserstack.ie.compatibility" value="11001" />
      <add key="browserstack.ie.enablePopups" value="true" />
      <add key="browserstack.ie.enablePopups" value="true" />
    </ie>-->
       <edge>
      <add key="browser" value="edge" />
         <!--<add key="os" value="Windows" />
         <add key="os" value="OS X" />
         <add key="os_version" value="10" />

         <add key="browser_version" value="80.0" />
         <add key="browserstack.local" value="true" />
         <add key="browserstack.selenium_version" value="3.14.0" />
         <add key="browserstack.edge.enablePopups" value="true" />-->
    </edge>
  </environments>
</configuration>